body{
    cursor: url('../img/cursor2.png'), auto; /*IE & Edge*/
    cursor: url('../img/cursor2.png'), auto; /*Rest browsers*/
    font-family: 'Aladin', cursive;
}
button{
    cursor: url('../img/cursor2.png'), auto; /*IE & Edge*/
    cursor: url('../img/cursor2.png'), auto; /*Rest browsers*/
    font-family: 'Aladin', cursive;
}
*{
    margin: 0;
    color: white;
    user-select:none;
    box-sizing: border-box;
}
#background{
    background-color: rgb(42, 0, 70);
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    width: 100%;
}
/** ENEMY STYLES **/
.campo-vida{
    width: 30%;
    position: relative;
    margin-left: 20px;
}
.campo-vida-titulo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.campo-vida-progreso{
    position: relative;
}
.campo-vida-progreso-base{
    width: 100%;
}   
.campo-vida-progreso-line{
    width: 94%;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#vida-progreso{
    width: 100%;
    transform: translateX(0%);
}
#nivel-monster h2{
    text-align: center;
}
/** PLAYER STYLES **/
.recompensa-habilidad{
    max-width: 30vw;
    max-height: 30vw;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 9px groove transparent ;
    border-image: url(../img/border.png) 40 round;
    padding: 20px;
}
.recompensa{
    display: flex;
    align-items: center;
    gap: 5px;
}
.daño{
    display: flex;
    align-items: center;
    gap: 5px;
}
#set-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

}

.enemy{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}
#monster{
    min-width: 70%;
    padding: 30px;
    transition: 1s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    cursor: url('../img/cursor.png'), auto; /*IE & Edge*/
    cursor: url('../img/cursor.png'), auto; /*Rest browsers*/
    animation: monsteranimate 1s infinite;
}
@keyframes monsteranimate{
    0%{
        padding: 0px;
    }
    50%{
        padding: 30px;
    }
    100%{
        padding: 0%;
    }
}
#lvl{
}
#lvl h2{
    text-align: center;
}

.animacion-explosion{
    background-image: url('../img/explosion2.png');
    width: 334.7187px;
    height: 152.0399px;
    background-position: 0px 0;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
    display: none;
}
.animate-explosion{
    animation: move 1s steps(7);
}
@keyframes move{
    to{
        background-position: -2343.0309px 0;
    }
}

/* .campo-vida-progreso img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .campo-vida-progreso img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  } */

  .bienvenida{
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 99;
    left: 0;
    transition: 1s ease-out;
    background-color: rgba(0, 0, 0, 0.568);
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    display: flex;
  }
  .bienvenida img{
      width: 80%;
      display: block;
      margin: auto;
      border: 1px solid white;
      border-radius: 20px;
  }
  #jugar{
      color: rgb(0, 255, 0);
      position: fixed;
      left: 50%;
      z-index: 9999;
      border: 2px solid rgb(0, 255, 0);
      border-radius: 20px;
      padding: 10px 20px;
      bottom: 15%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.336);
      /* animation: animatebutton 1s infinite; */
  }
  .agradecimiento{
      position: fixed;
      bottom: 2%;
      right: 2%;
      font-size: 10px;
  }
  /* @keyframes animatebutton{
    0%{
        transform: translateX(-50%);
    }
    25%{
        transform: translateX(-70%);
    }
    75%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(-50%);
    }
  } */


  .c-loader{
	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: black;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out 0.4s;
  }

  .c-loader.is-inactive{
		opacity: 0;
		visibility: hidden;
	}
	
	.c-loader__box{
		
		position: relative;
		width: 400px;
		height: 90px;
		max-width: 90%;
		display: flex;
		align-items: center;
		opacity: 1;
		visibility: visible;
		transition: all 0.4s ease-in-out;
    }
    .c-loader.is-inactive {
			opacity: 0;
			visibility: hidden;
		}
		
	
	
        .c-loader__mask{
		
		display: block;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		background-color: #6CDD00;
		animation: loader_anim 3s ease-in-out infinite both;
		transform-origin: 100% 0%;
		display: none;
		
	}
	
    .c-loader__mask{
		
		display: block;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		background-color: #6CDD00;
		animation: loader_anim 3s ease-in-out infinite both;
		transform-origin: 100% 0%;
		
	}
	
	.c-loader__wrapper-svg{
		
		width: 80%;
		margin: 0 auto;
		display: block;
		
	}
	

	.c-loader__svg-path{
		fill: white;
	}
	
    @keyframes loader_anim {
        0%{ 
          transform: scaleX(1);
          transform-origin: 100% 0%;
      }
      25%{ 
          transform: scaleX(0);
      }
      50%{ 
          transform: scaleX(1);
          transform-origin: 100% 0%;
      }
      51%{
          transform: scaleX(1);
          transform-origin: 0% 0%;
      }
      75%{
          transform: scaleX(0);
      }
        99%{
          transform: scaleX(1);
          transform-origin: 0% 0%;
      }
      100%{
          transform: scaleX(1);
          transform-origin: 100% 0%;
      }
  }

  .activo{
      visibility: hidden;
      opacity: 0;
  }
